*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: url(imagens/fundo.png) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao-perfil{
    width: 400px;
    text-align: center;
    overflow: hidden;
}

.cabecalho-perfil{
    background-color: rgb(206, 206, 206);
    padding: 60px 40px;
}

.imagem{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(#74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
}

.imagem img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nome{
    color: ;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.descricao{
    font-size: 16px;
    color: #2633e0;
}

.social{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social a{
    color: black;
    width: 50px;
    font-size: 22px;
    transition: .5s linear;
}

.social a:hover{
    color: #2633e0;
}

.contact{
    display: inline-block;
    padding: 12px 50px;
    color: #2633e0;
    border: 2px solid #2633e0;
    border-radius: 6px;
    margin-top: 10px;
    transition: .3s linear;
}
.contact:hover{
    background-color: #2633e0;
    color: black;
}

.rodape{
    background-color: rgb(226, 222, 220);
    padding: 60px 10px;
}

.sobre p{
    font-size: 14px;
    font-weight: lighter;
}