*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: url(imagens/fundo.png) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao-perfil{
    width: 400px;
    text-align: center;
    overflow: hidden;
}

.cabecalho-perfil{
    background-color: rgb(206, 206, 206);
    padding: 60px 40px;
}

.imagem{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(#74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
}

.imagem img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
